.masters{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8em;

}

.img_master{
    margin-bottom: 20px;
}

.person-holder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1200px)  {
    .person-holder{
    justify-content: space-evenly;
    }
  }
  