

.container_req {
  background-color: black;
  color: #fff;
  display: flex;

  .Req_list {
    margin: 100px 50px 100px 100px;

    .title {
      font-size: 1.5em;
      font-weight: bold;
    }

    .description {
      margin: 20px 2px;
    }

    .input-req {
      padding: 12px 100px;
      border: none;
      border-radius: 10px;
    }
    .icon {
    }
    .p_icon {
      font-size: 13px;
      margin-top: 30px
    }
  }

  .div_img {
    position: relative;  
    max-height: 603px;
    .img1 {
      max-width: 450px;
      margin-top: -32px;
    }

    .img2{
      margin: -334px;
      max-width: 140px;

    }
  }
}
