

.container_req {
  background-color: black;
  color: #fff;
  display: flex;

  .Req_list {
    margin: 100px 98px 100px 205px;

    .title {
      font-size: 1.5em;
      font-weight: bold;
    }

    .description {
      margin: 28px 0px;
      font-size: 14px;

    }

    .input-req {
      padding: 12px 100px;
      border: none;
      background-color: #bbbbbb;
      color: #fff;
      border-radius: 10px;
    }

    &::placeholder{
      color: red;
    }
    .icon {
    }
    .p_icon {
      font-size: 15px;
      color: #ACACAC;
      margin-top: 30px
    }
    .IMG_tick{
      max-width: 20px;
      max-height: 20px;
      margin-right: 5px;
    }
  }

  .div_img {
    position: relative;  
    max-height: 603px;
    .img1 {
      max-width: 514px;
      margin-top: -32px;
    }

    .img2{
      margin: -338px;
      max-width: 160px;

    }
  }
}
@media (max-width: 768px)  {
  .div_img {
    // flex-wrap: wrap;
    overflow: hidden;

  }

  .Req_list {
    margin: 10px;
  }

}